<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>登录</title>
<!-- Custom Theme files -->
<link href="/static/index.css" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<div class="login">

	<div class="login-top">
		<h1>登录</h1>
		<form action="/user/register/" method="post">
			<input type="text" name="sid" placeholder="学号">
			<input type="password" name="password" placeholder="password">
            <input type="text" name="check">


            <img src= {{ "/static/" }}{{ image.img }}  >

			<div class="forgot">
			    <input type="button" value="新用户" >
				<input type="submit" value="登录" >
			</div>
	    </form>

	</div>

</div>
</body>
</html>
